<span class="breadpath breadpath_home">
  <a href="{{ADMINTOOL_HOME}}">Admin Tool Home</a>
</span>
<span class="breadpath bp_campus bp_repo bp_coll bp_obj bp_internals bp_users">
  <a>Reports</a>
</span>
<span class="breadpath bp_campus">
  <a href="{{ADMINTOOL_HOME}}#.nav_campus;.bp_campus">Campus</a>
</span>
<span class="breadpath bp_repo">
  <a href="{{ADMINTOOL_HOME}}#.nav_repo;.bp_repo">Repository Content</a>
</span>
<span class="breadpath bp_coll">
  <a href="{{ADMINTOOL_HOME}}#.nav_collections;.bp_coll">Collections</a>
</span>
<span class="breadpath bp_obj">
  <a href="{{ADMINTOOL_HOME}}#.nav_objects;.bp_obj">Objects</a>
</span>
<span class="breadpath bp_internals">
  <a href="{{ADMINTOOL_HOME}}#.nav_merritt_internals;.bp_internals">Merritt Internals</a>
</span>
<span class="breadpath bp_users">
  <a href="{{ADMINTOOL_HOME}}#.nav_merritt_users;.bp_users">Merritt Users</a>
</span>
<span class="breadpath bp_audit bp_storage bp_ingest bp_replic bp_inventory">
  <a>Microservices</a>
</span>
<span class="breadpath bp_audit">
  <a href="{{ADMINTOOL_HOME}}#.nav_audit;.bp_audit">Audit</a>
</span>
<span class="breadpath bp_ingest">
  <a href="{{ADMINTOOL_HOME}}#.nav_ingest;.bp_ingest">Ingest</a>
</span>
<span class="breadpath bp_inventory">
  <a href="{{ADMINTOOL_HOME}}#.nav_inventory;.bp_inventory">Inventory</a>
</span>
<span class="breadpath bp_replic">
  <a href="{{ADMINTOOL_HOME}}#.nav_replic;.bp_replic">Replic</a>
</span>
<span class="breadpath bp_storage">
  <a href="{{ADMINTOOL_HOME}}#.nav_storage;.bp_storage">Storage</a>
</span>
<span class="breadpath bp_search">
  <a href="{{ADMINTOOL_HOME}}#.nav_search;.bp_search">Search</a>
</span>
<span class="breadpath bp_sysinfo">
  <a href="{{ADMINTOOL_HOME}}#.nav_sysinfo;.bp_sysinfo">System Information</a>
</span>
<span class="breadpath bp_colladmin">
  <a href="{{ADMINTOOL_HOME}}#.nav_manage_coll;.bp_ingest">Manage Collections/Profiles</a>
</span>
<span class="breadpath bp_storeadmin">
  <a href="{{ADMINTOOL_HOME}}#.nav_manage_store;.bp_storage">Manage Storage Nodes</a>
</span>
<span class="breadpath bp_queues">
  <a href="{{ADMINTOOL_HOME}}#.nav_manage_queues;.bp_queues">Manage Queues</a>
</span>
<span class="breadpath bp_content_projects">
  <a href="{{ADMINTOOL_HOME}}#.nav_content_projects;.bp_content_projects">Content Projects</a>
</span>
<span class="breadpath bp_title">
</span>
