body {
  width: 100%;
}

#in-progress {
  display: none;
}

div.results {
  margin: 0 0 auto;
}

#report-description table,
table.results {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

#report-description table th,
#report-description table td,
table.results th,
table.results td {
  border: thin solid black;
  padding: 4px;
}

#consistency.PASS, table.results td.status-PASS {
  color: green;
}
#consistency.INFO, table.results td.status-INFO {
  color: blue;
}
#consistency.FAIL, table.results td.status-FAIL {
  color: red;
}
#consistency.WARN, table.results td.status-WARN {
  color: orange;
}

table.results th.money,
table.results td.money,
table.results th.data,
table.results td.data,
table.results th.dataint,
table.results td.dataint,
table.results th.bytes,
table.results td.bytes {
  text-align: right;
}

table.results th.cell,
table.results td.cell {
  width: 100px;
  word-break: break-word;
}

table.results th.mime,
table.results td.mime,
table.results th.name,
table.results td.name {
  width: 220px !important;
  word-break: break-all;
}

table.results th.status,
table.results td.status {
  width: 50px !important;
}

table.results th.localid,
table.results td.localid,
table.results th.doi,
table.results td.doi,
table.results th.ark,
table.results td.ark {
  width: 180px !important;
}

table.results th.datetime,
table.results td.datetime {
  width: 150px !important;
}

table.results th.alert,
table.results td.alert {
  width: 300px !important;
}

table.results th.profile,
table.results td.profile {
  width: 200px !important;
}

table.results th.description,
table.results td.description {
  width: 500px !important;
}

table.results th.list,
table.results td.list,
table.results th.vallist,
table.results td.vallist,
table.results th.list-doc,
table.results td.list-doc {
  width: 250px !important;
}


table.results th.mnemonic,
table.results td.mnemonic {
  width: 150px !important;
  max-width: 150px !important;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

table.results tr.row:nth-child(even) th.cell,
table.results tr.row:nth-child(even) td.cell {
  background-color: #EEE;
}

table.results tr.total th.cell,
table.results tr.total td.cell {
  background-color: #F68D2E;
}

table.results tr.grandtotal th.cell,
table.results tr.grandtotal td.cell {
  background-color: #77913B;
}

table.results tr.specialtotal th.cell,
table.results tr.specialtotal td.cell {
  background-color: #D0D0D0;
}

table.results tr.header th,
table.results tr.header td {
  background-color: yellow;
}

table.results tr td.flag {
  color: red;
}


p.buttons {
  display: none;
  width: 100%;
  text-align: center;
}

#exportJson {
  text-decoration: none; font: menu;
  display: inline-block; padding: 2px 8px;
  border-style: solid; border-width: 2px;
  border-radius: 25px;
}

.collsec {
  padding-left: 10px;
  margin: 10px;
}

.form-body {
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 200px;
}
.form-body .container {
  display:block;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-body .dropbtn {
  padding: 10px;
  cursor: pointer;
}

.form-body .dropdown {
  position: relative;
  display: inline-block;
}

.form-body .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  min-width: 120px;
  z-index: 1;
}

.form-body .dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.form-body .dropdown-content a:hover {background-color: #d1d1d1}

.form-body .dropdown:hover .dropdown-content {
  display: block;
}

#arkoutput, #localoutput, #doioutput {
  background-color: lightgray;
}

fieldset {
  display: inline;
}

output { 
  background-color: #EEEEEE;
  font-style: italic;
}

textarea:read-only, input:read-only {
  background-color: #EEEEEE;
  border-color: #EEEEEE;
  color: navy;
}

fieldset.collsec p label {
  width: 220px;
  display: inline-block;
  font-weight: bold;
}

fieldset.collsec p em {
  color: red;
}

.collsec p.error label {
  color: red;
}

output {
  width: 300px;
  border: thin solid black;
  background-color: #EEEEEE;
}

input[type=submit] {
  background-color: yellow;
}

input[type=submit]:disabled {
  background-color: #EEEEEE;
}

input.button {
  background-color: yellow;
}

input.button:disabled {
  background-color: #EEEEEE;
}

div.indent {
  margin-left: 100px;
}

button.colladmin {
  line-height: 20px;
}

ul span.endpoint {
  display:none;
}

ul:hover span.endpoint {
  display:inline;
}

tr.latest td, tr.latest th {
  background-color: #EEEEEE;
}

td.qdelete a, td.requeue a, td.hold a, td.release a, td.colllock a, td.collqitems a {
  display: block;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  border: thin solid black;
  background-color: #EEEEEE;
  text-decoration: none;
  width: fit-content;
  padding: 2px 6px;
}

td.qdelete a.disabled, td.requeue a.disabled, td.hold a.disabled, td.release a.disabled, td.colllock a.disabled, td.collqitems a.disabled {
  border: thin solid gray;
  color: gray;
}

button.maints-0,
button.maint-delete-delete,
button.maint-review-review,
button.maint-hold-hold,
button.maint-delete-removed,
button.maint-review-removed,
button.maint-hold-removed,
span.scan-0
{
  display: none;
}

button.storage-perform-delete-node-key,
button.storage-perform-delete-node-batch,
button.storage-update-manifest,
button.storage-rebuild-inventory,
button.storage-delete-obj {
  color: red;
}

#report-description, .page-description {
  background-color: #EEEEEE;
  padding: 4px 12px;
  border: thin solid #DDDDDD;
  width: 90%;
  margin: 10px auto;
}

#report-description {
  display: none;
}

#report-description code {
  color: red;
}

tr.toggle-0 td, tr.toggle-0 th {
  background-color: #EEEEEE;
}

tr.head td, tr.head th {
  background-color: #f6f88f;
}

#chartdiv {
  display: none;
  width: 90%;
}

#chartdiv canvas {
  max-height: 400px;
}

.documentation {
  border: solid thin black;
  background-color: #EEEEEE;
  padding: 2px 8px;
  margin: 5px 0px;
}

li .documentation {
  display: none;
}

li:has(input:checked) .documentation {
  display: block;
}

span.navhead {
  font-weight: bold;
}

span.navlabel {
  font-weight: bold;
  color: red;
}

td.ogroup:not(:empty)::before,
td.coll:not(:empty)::before,
td.mime:not(:empty)::before,
td.gmime:not(:empty)::before {
  content: "🎨 ";
}

td.mnemonic:not(:empty)::before,
td.ark:not(:empty)::before {
  content: "🖼 ";
}

li.node::before,
td.node:not(:empty)::before {
  content: "🗄 ";
}

li.campus::before,
td.own:not(:empty)::before {
  content: "🏫 ";
}

div.collinfo::before,
li.coll::before,
td.colllist:not(:empty)::before {
  content: "🧺 ";
}

li.coll-date::before,
td.coll-date:not(:empty)::before {
  content: "⌛ ";
}

li.files::before,
td.files::before,
td.objlist:not(:empty)::before{
  content: "📑 ";
}

li.objects::before,
td.aggrole:not(:empty)::before,
td.astatus:not(:empty)::before,
td.container:not(:empty)::before,
td.job:not(:empty)::before,
td.jobnote:not(:empty)::before,
td.batchnote:not(:empty)::before,
td.batch:not(:empty)::before {
  content: "📚 ";
}

li.batches::before,
td.fprofile:not(:empty)::before,
td.fstatus:not(:empty)::before,
td.fprofilestatus:not(:empty)::before {
  content: "🔵 ";
}

li.job::before,
td.qbatch:not(:empty)::before,
td.qbatchnote:not(:empty)::before {
  content: "🔷 ";
}

li.config::before,
td.config:not(:empty)::before,
td.snodes:not(:empty)::before,
td.collnode:not(:empty)::before {
  content: "⚙ ";
}

li.ldapuid::before,
td.ldapark:not(:empty)::before,
td.ldapuid:not(:empty)::before {
  content: "🆔 ";
}
li.ldapcoll::before,
td.ldapcoll:not(:empty)::before {
  content: "🟣 ";
}
li.ldaprole::before,
td.ldapuidlist:not(:empty)::before {
  content: "🟪 ";
}

li.jobmeta::before,
td.qjob:not(:empty)::before {
  content: "🗂 ";
}
li.profile::before,
td.profile:not(:empty)::before {
  content: "🏷 ";
}
li.report::before,
td.report:not(:empty)::before {
  content: "🧪 ";
}

li.graph::before {
  content: "📈 ";
}

li.rerun::before {
  content: "🔄 ";
}

li form {
  display: inline;
}

button.scanreview::before,
li.review::before {
  content: "☑ ";
}