<p>
  <span class="{{RECENT}}" title="{{VERTIME}}">🏷️</span>
  <span>/</span>
  <span title="{{USERNAME}}: [{{GROUPS}}]; {{HASPERM}}">👤</span>
  <span>/</span>
  <a href="{{ADMINTOOL_HOME}}">Admin Tool Home</a>
  <span> / </span>
  <a href="{{COLLADMIN_ADMIN}}">CollAdmin Tool Home</a>
</p>
