<header>
  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">About
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{{ADMINTOOL_HOME}}">🏠 Admin Home</a>
        <a class="taginfo"><span class="{{RECENT}}">{{VERTIME}}</span></a>
        <a class="userinfo"><span title="[{{GROUPS}}]; {{HASPERM}}">{{USERNAME}}</span></a>
        <a class="helpinfo" href="{{ADMINTOOL_BASE}}/web/describeReports.html">Admin Report Descriptions</a>
        <a class="helpinfo" href="{{COLLADMIN_ROOT}}/web/describeActions.html">Collection Admin Action Descriptions</a>
        <a class="reveal" href="{{ADMINTOOL_HOME}}#.nav_section">Reveal All Links</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">System Status
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="graph" href="{{ADMINTOOL_HOME}}?path=ingest_bytes_by_hour">Recent Bytes ingested by hour</a>
        <a class="graph" href="{{ADMINTOOL_HOME}}?path=ingest_bytes_by_hour&days=30">Recent Bytes ingested by day - last 30 days</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Administer Merritt
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="config" href="{{COLLADMIN_ROOT}}/web/storeCollNodes.html">Manage Storage Nodes for a Collection</a>
        <a class="config" href="{{COLLADMIN_ROOT}}/web/storeNodes.html">Storage Node Management</a>
        <a class="config" href="{{COLLADMIN_ROOT}}/web/storeQueues.html">Manage Audit Queues and Audit Status</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Merritt Internals
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="config" href="{{COLLADMIN_HOME}}?path=instances&timeout=1">Merritt Servers (quick load)</a>
        <a class="config" href="{{COLLADMIN_HOME}}?path=instances">Merritt Servers</a>
        <a class="config" href="{{COLLADMIN_HOME}}?path=uc3-instances">UC3 Servers</a>
        <a class="config" href="{{COLLADMIN_HOME}}?path=ssm-describe">SSM Parameter Registry</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn search">Search
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="search" href="{{ADMINTOOL_HOME}}#.nav_search_ark;.bp_search;Search by Ark">Search for object by ark</a>
        <a class="search" href="{{ADMINTOOL_HOME}}#.nav_search_id;.bp_search;Search by Object Id">Search for object by id</a>
        <a class="search" href="{{ADMINTOOL_HOME}}#.nav_search_metadata;.bp_search;Search by Metadata">Search for object by metadata</a>
        <a class="search" href="{{ADMINTOOL_BASE}}/web/ark.html">Find/Compare Multiple Objects by ARK</a>
        <a class="search" href="{{ADMINTOOL_BASE}}/web/localid.html">Find/Compare Multiple Objects by Local Id</a>
        <a class="search" href="{{ADMINTOOL_BASE}}/web/doi.html">Find/Compare Multiple Objects by DOI</a>
      </div>
    </div>
    <div class="dropdown"><a class="config">{{DOCKTAG}}</a></div>
    <div id="alertmsg" title="Admin Tool Message"></div>
  </div>
</header>