<header>
  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">About
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{{ADMINTOOL_HOME}}">🏠 Admin Home</a>
        <a class="taginfo"><span class="{{RECENT}}">{{VERTIME}}</span></a>
        <a class="userinfo"><span title="[{{GROUPS}}]; {{HASPERM}}">{{USERNAME}}</span></a>
        <a class="helpinfo" href="{{ADMINTOOL_BASE}}/web/describeReports.html">Admin Report Descriptions</a>
        <a class="helpinfo" href="{{COLLADMIN_ROOT}}/web/describeActions.html">Collection Admin Action Descriptions</a>
        <a class="reveal" href="{{ADMINTOOL_HOME}}#.nav_section">Reveal All Links</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">System Status
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="graph" href="{{ADMINTOOL_HOME}}?path=report">Consistency Reports</a>
        <a class="graph" href="{{COLLADMIN_HOME}}?path=ingest-queue-by-profile">Ingest Jobs by Profile</a>
        <a class="graph" href="{{ADMINTOOL_HOME}}?path=ingest_bytes_by_hour">Recent Bytes ingested by hour</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Reports
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="reveal" href="{{ADMINTOOL_HOME}}#.nav_campus;.bp_campus">Campus</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_campus_collections;.bp_campus;Campus Collections">Campus Collections</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_campus_content;.bp_campus;Campus Content">Campus Content</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_campus_invoices;.bp_campus;Campus Invoices">Campus Invoices</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_campus_owners;.bp_campus;Campus Owners">Campus Owners</a>  
        <a class="reveal" href="{{ADMINTOOL_HOME}}#.nav_repo;.bp_repo">Repository Content</a>
        <a class="reveal" href="{{ADMINTOOL_HOME}}#.nav_collections;.bp_coll">Collections</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_collections_counts;.bp_coll;Collection Counts">Collection Counts</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_collections_activity;.bp_coll;Collection Activity">Collection Activity</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_collections_details;.bp_coll;Collection Details">Collection Details</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_collections_content;.bp_coll;Collection Content">Collection Content</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_collections_locks;.bp_coll;Collection Locks">Collections Locks</a>
        <a class="reveal" href="{{ADMINTOOL_HOME}}#.nav_objects;.bp_obj">Objects</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_objects_compare;.bp_obj;Compare Objects">Compare Objects</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_objects_files;.bp_obj;Object Files">Object Files</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_objects_issue_count;.bp_obj;Object Issue Count">Object Issue Count</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_objects_issue_list;.bp_obj;Object Issue List">Object Issue List</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_objects_localid;.bp_obj;Object Local Ids">Object Local Ids</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_objects_versions;.bp_obj;Object Versions">Object Versions</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_objects_special;.bp_obj;Object Special Cases">Object Special Cases</a>
        <a class="reveal" href="{{ADMINTOOL_HOME}}#.nav_merritt_internals;.bp_internals">Merritt Internals</a>
        <a class="reveal" href="{{ADMINTOOL_HOME}}#.nav_merritt_users;.bp_users">Merritt User Accounts</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Microservice Reports
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="reveal" href="{{ADMINTOOL_HOME}}#.nav_audit;.bp_audit">Audit</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_audit_activity;.bp_audit;Audit Activity">Audit Activity</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_audit_performance;.bp_audit;Audit Performance">Audit Performance</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_audit_status;.bp_audit;Audit Status">Audit Status</a>
        <a class="reveal" href="{{ADMINTOOL_HOME}}#.nav_ingest;.bp_ingest">Ingest</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_ingest_activity;.bp_ingest;Ingest Activity">Ingest Activity</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_ingest_profiles;.bp_ingest;Ingest Profiles">Ingest Profiles</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_ingest_counts;.bp_ingest;Ingest Counts">Ingest Counts</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_ingest_folders;.bp_ingest;Ingest Folders">Ingest Folders</a>
        <a class="reveal" href="{{ADMINTOOL_HOME}}#.nav_inventory;.bp_inventory">Inventory</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_inventory_activity;.bp_inventory;Inventory Activity">Inventory Activity</a>
        <a class="reveal" href="{{ADMINTOOL_HOME}}#.nav_replic;.bp_replic">Replic</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_replic_activity;.bp_replic;Replic Activity">Replic Activity</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_replic_performance;.bp_replic;Replic Performance">Replic Performance</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_replic_status;.bp_replic;Replic Status">Replic Status</a>
        <a class="reveal" href="{{ADMINTOOL_HOME}}#.nav_storage;.bp_storage">Storage</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_storage_config;.bp_storage;Storage Configuration">Storage Configuration</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_storage_content;.bp_storage;Storage Content">Storage Content</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_storage_profile;.bp_storage;Storage Profile">Storage Profile</a>
        <a class="submenu reveal" href="{{ADMINTOOL_HOME}}#.nav_storage_queues;.bp_storage;Access Queues">Access Queues</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Administer Merritt
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="config" href="{{ADMINTOOL_HOME}}#.nav_manage_queues;.bp_queues">Manage Queues</a>
        <a class="config" href="{{COLLADMIN_ROOT}}/web/collProfile.html">Collection Creation</a>
        <a class="config" href="{{ADMINTOOL_HOME}}#.nav_manage_coll;.bp_internals;Manage Admin Objects">Manage Admin Objects</a>
        <a class="config" href="{{COLLADMIN_ROOT}}/web/storeCollNodes.html">Manage Storage Nodes for a Collection</a>
        <a class="config" href="{{COLLADMIN_ROOT}}/web/storeNodes.html">Storage Node Management</a>
        <a class="config" href="{{COLLADMIN_ROOT}}/web/storeQueues.html">Manage Audit Queues and Audit Status</a>
        <a class="config" href="{{ADMINTOOL_HOME}}?path=update_billing">Update Billing Database</a>
        <a class="config" href="{{ADMINTOOL_HOME}}?path=update_billing&all-tables=Y">Update Billing Database (recalcuate yesterday's totals)</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Content Projects
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="config" href="{{ADMINTOOL_HOME}}#.nav_content_projects">Content Projects</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Merritt Internals
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="config" href="{{COLLADMIN_HOME}}?path=instances">Merritt Servers</a>
        <a class="config" href="{{COLLADMIN_HOME}}?path=ssm-describe">SSM Parameter Registry</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn search">Search
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a class="search" href="{{ADMINTOOL_HOME}}#.nav_search_ark;.bp_search;Search by Ark">Search for object by ark</a>
        <a class="search" href="{{ADMINTOOL_HOME}}#.nav_search_id;.bp_search;Search by Object Id">Search for object by id</a>
        <a class="search" href="{{ADMINTOOL_HOME}}#.nav_search_metadata;.bp_search;Search by Metadata">Search for object by metadata</a>
        <a class="search" href="{{ADMINTOOL_BASE}}/web/ark.html">Find/Compare Multiple Objects by ARK</a>
        <a class="search" href="{{ADMINTOOL_BASE}}/web/localid.html">Find/Compare Multiple Objects by Local Id</a>
        <a class="search" href="{{ADMINTOOL_BASE}}/web/doi.html">Find/Compare Multiple Objects by DOI</a>
      </div>
    </div>
  </div>
</header>