build/
deploy/
test/vendor
.DS_Store
web/index-gw.html
lib-include/libmysqlclient.so.18
lib-include/libmysqlclient.so.18.0.0
setup.sh
deploy.zip
dependencies.zip
test/database.yml
test/config/database.yml
test/config/database2.yml
src/config/database.localcred.yml
test/config/database.localcred.yml
mysql-deps/mysql-dependencies.zip
~$MerrittAdminTool.pptx
mysql-ruby-lambda/.bundle/
mysql-ruby-lambda/vendor/
src-admintool/vendor/bundle/ruby/2.6.0/bundler/gems/
