body {
  width: 100%;
}

#in-progress {
  display: none;
}

div.results {
  margin: 0 0 auto;
}

table.results {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

table.results th,
table.results td {
  border: thin solid black;
  padding: 4px;
}

#consistency.PASS, table.results td.status-PASS {
  color: green;
}
#consistency.INFO, table.results td.status-INFO {
  color: blue;
}
#consistency.FAIL, table.results td.status-FAIL {
  color: red;
}
#consistency.WARN, table.results td.status-WARN {
  color: orange;
}

table.results th.money,
table.results td.money,
table.results th.data,
table.results td.data,
table.results th.dataint,
table.results td.dataint,
table.results th.bytes,
table.results td.bytes {
  text-align: right;
}

table.results th.cell,
table.results td.cell {
  width: 100px;
  word-break: break-word;
}

table.results th.mime,
table.results td.mime,
table.results th.name,
table.results td.name {
  width: 300px !important;
}

table.results th.status,
table.results td.status {
  width: 50px !important;
}

table.results th.localid,
table.results td.localid,
table.results th.doi,
table.results td.doi,
table.results th.ark,
table.results td.ark {
  width: 180px !important;
}

table.results th.datetime,
table.results td.datetime {
  width: 150px !important;
}

table.results th.alert,
table.results td.alert {
  width: 300px !important;
}

table.results th.profile,
table.results td.profile {
  width: 200px !important;
}

table.results th.list,
table.results td.list,
table.results th.vallist,
table.results td.vallist,
table.results th.list-doc,
table.results td.list-doc,
table.results th.list-host,
table.results td.list-host {
  width: 250px !important;
}


table.results th.mnemonic,
table.results td.mnemonic {
  width: 150px !important;
  max-width: 150px !important;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

table.results tr.row:nth-child(even) th.cell,
table.results tr.row:nth-child(even) td.cell {
  background-color: #EEE;
}

table.results tr.total th.cell,
table.results tr.total td.cell {
  background-color: #F68D2E;
}

table.results tr.grandtotal th.cell,
table.results tr.grandtotal td.cell {
  background-color: #77913B;
}

table.results tr.specialtotal th.cell,
table.results tr.specialtotal td.cell {
  background-color: #D0D0D0;
}

table.results tr.header th,
table.results tr.header td {
  background-color: yellow;
}

table.results tr td.flag {
  color: red;
}


p.buttons {
  display: none;
  width: 100%;
  text-align: center;
}

#exportJson {
  text-decoration: none; font: menu;
  display: inline-block; padding: 2px 8px;
  border-style: solid; border-width: 2px;
  border-radius: 25px;
}

.collsec {
  padding-left: 10px;
  margin: 10px;
}

.form-body {
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 200px;
}
.form-body .container {
  display:block;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-body .dropbtn {
  padding: 10px;
  cursor: pointer;
}

.form-body .dropdown {
  position: relative;
  display: inline-block;
}

.form-body .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  min-width: 120px;
  z-index: 1;
}

.form-body .dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.form-body .dropdown-content a:hover {background-color: #d1d1d1}

.form-body .dropdown:hover .dropdown-content {
  display: block;
}

#arkoutput, #localoutput, #doioutput {
  background-color: lightgray;
}

fieldset {
  display: inline;
}

output { 
  background-color: #EEEEEE;
  font-style: italic;
}

textarea:read-only, input:read-only {
  background-color: #EEEEEE;
  border-color: #EEEEEE;
  color: navy;
}

fieldset.collsec p label {
  width: 220px;
  display: inline-block;
  font-weight: bold;
}

fieldset.collsec p em {
  color: red;
}

.collsec p.error label {
  color: red;
}

output {
  width: 300px;
  border: thin solid black;
  background-color: #EEEEEE;
}

input[type=submit] {
  background-color: yellow;
}

input[type=submit]:disabled {
  background-color: #EEEEEE;
}