body {
  width: 100%;
}

#in-progress {
  display: none;
}

div.results {
  margin: 0 0 auto;
}

table.results {
  border-collapse: collapse;
  width: 80%;
}

table.results th,
table.results td {
  border: thin solid black;
  padding: 4px;
}

table.results th.money,
table.results td.money,
table.results th.data,
table.results td.data,
table.results th.dataint,
table.results td.dataint {
  text-align: right;
}

table.results th.cell,
table.results td.cell {
  width: 100px;
}

table.results th.mime,
table.results td.mime,
table.results th.name,
table.results td.name {
  width: 300px !important;
}

table.results th.datetime,
table.results td.datetime {
  width: 150px !important;
}

table.results th.mnemonic,
table.results td.mnemonic {
  width: 150px !important;
  max-width: 150px !important;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

table.results tr.row:nth-child(even) th.cell,
table.results tr.row:nth-child(even) td.cell {
  background-color: #EEE;
}

table.results tr.total th.cell,
table.results tr.total td.cell {
  background-color: #F68D2E;
}

table.results tr.grandtotal th.cell,
table.results tr.grandtotal td.cell {
  background-color: #77913B;
}

table.results tr.specialtotal th.cell,
table.results tr.specialtotal td.cell {
  background-color: #D0D0D0;
}

table.results tr.header th,
table.results tr.header td {
  background-color: yellow;
}

p.buttons {
  display: none;
}

#exportJson {
  text-decoration: none; font: menu;
  display: inline-block; padding: 2px 8px;
  border-style: solid; border-width: 2px;
  border-radius: 25px;
}